@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'W95FA';
  src: url('https://fonts.cdnfonts.com/s/72922/w95fa.woff') format('woff');
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'W95FA', Tahoma, Arial, sans-serif;
  overflow: hidden; 
  background-color: #008080; 
  /* Fundo na pasta public é chamado direto na raiz */
  background-image: url('public/windows-xp.jpg'); 
  background-size: cover;
  background-position: center;
}